<%- include("partials/header.ejs") %>
<div class="addedContainer">
<div>
    <button class="addedButton"><a href="./">Go Home</a></button>
    <button class="addedButton"><a href="./post">Add One More</a></button>
</div>
</div>
<%- include("partials/footer.ejs") %>