<%- include("partials/header.ejs") %>
<div class="postContainer">
<form method="Post" action="/done">
    <input type="text" placeholder="Topic" class="Topic" name="Topic" required>
    <input type="text" placeholder="Description" class="Description" name="Description" required>
    <input type="submit" value="submit" class="submit">
</form>
</div>
<%- include("partials/footer.ejs") %>